{"swagger":"2.0","info":{"title":"Streetcred ID Credentials API","version":"v1","description":"An API to issue, manage, and verify self-sovereign identity credentials","termsOfService":"https://streetcred.id/terms-of-service/","contact":{"name":"Streetcred Engineering Team","url":"https://streetcred.id/contact-us","email":"support@streetcred.id"}},"host":"api.streetcred.id","basePath":"/agency/v1","schemes":["https"],"securityDefinitions":{"accessToken":{"description":"Standard Authorization header using the Bearer scheme. Example \"Bearer {token}\"","type":"apiKey","name":"Authorization","in":"header"},"subscriptionKey":{"type":"apiKey","name":"X-Streetcred-Subscription-Key","in":"header"}},"security":[{"accessToken":[]},{"subscriptionKey":[]}],"paths":{"/common/upload":{"post":{"description":"Upload an image and return a URL with the static remote location","operationId":"UploadImage","summary":"Upload image","tags":["Common"],"parameters":[{"name":"uploadedFiles","in":"formData","required":true,"type":"file"},{"name":"filename","in":"formData","type":"string"},{"name":"contentType","in":"formData","type":"string"}],"consumes":["multipart/form-data"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CommonUploadPost200ApplicationJsonResponse"}}}}},"/common/networks":{"get":{"description":"Returns a list of available ledger networks. Some networks are available based on your subscription.","operationId":"ListNetworks","summary":"List available ledger networks","tags":["Common"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/NetworkContractArray"}}}}},"/connections":{"get":{"description":"Retrieve a list of all connections. Optionally, list only connections in a specified state.","operationId":"ListConnections","summary":"List all connections","tags":["Connections"],"parameters":[{"name":"state","in":"query","type":"string","enum":["Invited","Negotiating","Connected"]}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ConnectionContractArray"}}}},"post":{"description":"Initiate a new connection by creating an invitation. The newly created connection record\r\nwill be in state 'Invited' until the other party has accepted the invitation. \r\nThe response body includes details about the newly creation connection\r\n<br /><i>Please check the <a href=\"https://docs.streetcred.id/docs/connections#creating-new-connection-invitation\">documentation</a> on how to present the invitation data to mobile clients using a QR code.</i>","operationId":"CreateConnection","summary":"Create a new connection","tags":["Connections"],"parameters":[{"name":"connectionInvitationParameters","in":"body","schema":{"$ref":"#/definitions/ConnectionInvitationParameters"},"description":"Connection invitation parameters"}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ConnectionContract"}}}}},"/connections/{connectionId}":{"get":{"description":"Get the details of a connection (including invitation details).\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/connections#retrieving-connections-data\">documentation</a> on how to get connection by sending the connectionId.</i>","operationId":"GetConnection","summary":"Get a connection by connectionId","tags":["Connections"],"parameters":[{"name":"connectionId","in":"path","description":"The connection identifier.","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ConnectionContract"}}}},"delete":{"description":"Delete a connection record","operationId":"DeleteConnection","summary":"Delete a connection record","tags":["Connections"],"parameters":[{"name":"connectionId","in":"path","description":"Connection identifier","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/credentials":{"get":{"description":"Lists the credentials.","operationId":"ListCredentials","summary":"Lists the credentials.","tags":["Credentials"],"parameters":[{"name":"connectionId","in":"query","type":"string"},{"name":"state","in":"query","type":"string","enum":["Offered","Requested","Issued","Rejected","Revoked"]},{"name":"definitionId","in":"query","type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialContractArray"}}}},"post":{"description":"This will send a credential offer of the specified definitionId to the specified connectionId.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/credentials#1-send-a-credential-offer\">documentation</a> on how to send credential offer.</i>","operationId":"CreateCredential","summary":"Sends credential offer of the specified DefinitionId to the specified ConnectionId","tags":["Credentials"],"parameters":[{"name":"credentialOfferParameters","in":"body","schema":{"$ref":"#/definitions/CredentialOfferParameters"},"description":"The definition and connection to which this offer will be sent."}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialContract"}}}}},"/credentials/{credentialId}":{"get":{"description":"Gets the credentials.","operationId":"GetCredential","summary":"Gets the credentials.","tags":["Credentials"],"parameters":[{"name":"credentialId","in":"path","description":"The credential identifier.","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialContract"}}}},"put":{"description":"This simply needs the credential identifier.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/credentials#3-issue-credential\">documentation</a> on how to issue a credential.</i>","operationId":"IssueCredential","summary":"Issues the credential.","tags":["Credentials"],"parameters":[{"name":"credentialId","in":"path","description":"The credential identifier.","required":true,"type":"string"},{"name":"body","in":"body","schema":{"$ref":"#/definitions/Body"},"description":"If the values offered were incorrect, changes to the values may be made here. You must update all of the values, and they must be follow the same structure of the schema.\r\n            To keep the values the same as those included in the credential offer, leave the body blank"}],"consumes":["application/json","text/json","application/*+json"],"responses":{"200":{"description":"Success"}}},"delete":{"description":" Revoke credential that was issued previously. Process of revocation will update the revocation\r\n registry locally and on the ledger. Issued credentials can still participate in proof workflows\r\n and be considered valid, but only if the verifying ignores the revocation trail.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/credentials#revoke-a-credential\">documentation</a> on how to issue a credential.</i>","operationId":"RevokeCredential","summary":"Revokes an isused credential. If the credential definition doesn't support revocation, the credential record\r\nis removed.","tags":["Credentials"],"parameters":[{"name":"credentialId","in":"path","description":"Credential identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/definitions/credentials":{"get":{"description":"List all credential definitions by this issuer.","operationId":"ListCredentialDefinitions","summary":"List all credential definitions by this issuer.","tags":["Definitions"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialDefinitionContractArray"}}}},"post":{"description":" A credential definition is created and saved on your cloud agent.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/credentials#create-credential-definitions\">documentation</a> on how to create new credential definition.</i>","operationId":"CreateCredentialDefinition","summary":"Create new credential definition and schema with the given parameters.","tags":["Definitions"],"parameters":[{"name":"credentialDefinitionFromSchemaParameters","in":"body","schema":{"$ref":"#/definitions/CredentialDefinitionFromSchemaParameters"},"description":"Definition."}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialDefinitionContract"}}}}},"/definitions/credentials/{definitionId}":{"get":{"description":"Get the credential definition with the specified identifier.","operationId":"GetCredentialDefinition","summary":"Get the credential definition with the specified identifier.","tags":["Definitions"],"parameters":[{"name":"definitionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialDefinitionContract"}}}}},"/definitions/schemas":{"get":{"description":"List the schemas registered or used by this issuer.","operationId":"ListSchemas","summary":"List the schemas registered or used by this issuer.","tags":["Definitions"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/SchemaRecordArray"}}}},"post":{"description":" Register schema with the current agency tenant and write the schema\r\n to the ledger using the tenant as issuer. This does not create credential definition.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/credentials#create-schemas\">documentation</a> on how to create new schema.</i>","operationId":"CreateSchema","summary":"Create new schema","tags":["Definitions"],"parameters":[{"name":"schemaParameters","in":"body","schema":{"$ref":"#/definitions/SchemaParameters"},"description":"Schema details"}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/DefinitionsSchemasPost200ApplicationJsonResponse"}}}}},"/tenants":{"get":{"description":"Get a collection of available tenants for the current authorization context.","operationId":"ListTenants","summary":"List available tenants","tags":["Tenants"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TenantContractArray"}}}},"post":{"description":"Create new tenant and setup a unique agency endpoint. The agency will be set as an issuer","operationId":"CreateTenant","summary":"Create new tenant","tags":["Tenants"],"parameters":[{"name":"tenantParameters","in":"body","schema":{"$ref":"#/definitions/TenantParameters"},"description":"Configuration options for creating new tenant."}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TenantContract"}}}}},"/tenants/{tenantId}":{"get":{"description":"Returns the agent configuration","operationId":"GetTenant","summary":"Returns the agent configuration","tags":["Tenants"],"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/TenantContract"}}}},"delete":{"description":"Permanently remove a tenant, including their wallet, endpoint registrations and all data.\r\n            All definitions, connections and credentials issued will be deleted.\r\n            This action cannot be reverted.","operationId":"DeleteTenant","summary":"Delete a tenant.","tags":["Tenants"],"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/verifications":{"get":{"description":"Initiate a new connection by creating an invitation. The newly created connection record\r\nwill be in state 'Invited' until the other party has accepted the invitation.\r\nThe response body includes details about the newly creation connection\r\n<br /><i>Please check the <a href=\"https://docs.streetcred.id/docs/verifications#list-all-verifications-for-a-connection\">documentation</a> on how to list verification credentials by connection id.</i>","operationId":"ListVerificationsForConnection","summary":"Lists the verifications for connection.","tags":["Verifications"],"parameters":[{"name":"connectionId","in":"query","description":"The connection identifier.","type":"string"},{"name":"definitionId","in":"query","description":"The definition identifier.","type":"string"}],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContractArray"}}}},"post":{"description":"This endpoint can be used to send a verification definition to a connection, which will create a verification ID to track the response from the connection.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/verifications#create-a-verification\">documentation</a> on how to create verification credentials.</i>\r\n            \r\nIf the parameter {connectionId} is not specified, this endpoint will create a connectionless\r\nverification. A URL will be generated that can be shared with anonymous user.","operationId":"CreateVerification","summary":"Creates the specified create verification.","tags":["Verifications"],"parameters":[{"name":"verificationParameters","in":"body","schema":{"$ref":"#/definitions/VerificationParameters"},"description":"The create verification."}],"consumes":["application/json","text/json","application/*+json"],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContract"}}},"deprecated":true}},"/verifications/{verificationId}":{"get":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/verifications#get-verification-by-identifier\">documentation</a> on how to list verification credentials by verification id.</i>","operationId":"GetVerification","summary":"Get the verification with the given identifier","tags":["Verifications"],"parameters":[{"name":"verificationId","in":"path","description":"The verification identifier.","required":true,"type":"string"}],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContract"}}}},"delete":{"description":"Delete Verification by Id","operationId":"DeleteVerification","summary":"Delete Verification by Id","tags":["Verifications"],"parameters":[{"name":"verificationId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/definitions/verifications/{definitionId}":{"get":{"operationId":"GetVerificationDefinition","summary":"GetVerificationDefinition","tags":["Definitions"],"parameters":[{"name":"definitionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationDefinitionContract"}}},"deprecated":true}},"/definitions/verifications":{"get":{"description":" This will list all of the verification definitions that you have created with your organization.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/verifications#list-all-verification-definitions\">documentation</a> on how to list verification definitions.</i>","operationId":"ListVerificationDefinitions","summary":"List all verification definitions.","tags":["Definitions"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationDefinitionContractArray"}}},"deprecated":true},"post":{"description":" A verification definition is created and saved on your cloud agent. You can discover your definition based on the ID that is returned or the name.\r\n<i>Please check the <a href=\"https://docs.streetcred.id/docs/verifications#create-a-verification-definition\">documentation</a> on how to create new verification definition.</i>","operationId":"CreateVerificationDefinition","summary":"Creates new verification definition.","tags":["Definitions"],"parameters":[{"name":"proofRequest","in":"body","schema":{"$ref":"#/definitions/ProofRequest"},"description":"The proof request."}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationDefinitionContract"}}},"deprecated":true}},"/webhooks":{"get":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/webhooks#list-registered-webhooks\">documentation</a> on how to list webhooks.</i>","operationId":"ListWebhooks","summary":"List all webhooks","tags":["Webhooks"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/WebhookContractArray"}}}},"post":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/webhooks#create-a-notification-webhook\">documentation</a> on how to create a webhook.</i>","operationId":"CreateWebhook","summary":"Create new webhook","tags":["Webhooks"],"parameters":[{"name":"webhookParameters","in":"body","schema":{"$ref":"#/definitions/WebhookParameters"}}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/WebhookContract"}}}}},"/webhooks/{webhookId}":{"delete":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/webhooks#remove-a-webhook\">documentation</a> on how to remove a webhook.</i>","operationId":"RemoveWebhook","summary":"Remove registered webhook","tags":["Webhooks"],"parameters":[{"name":"webhookId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/messages":{"post":{"operationId":"SendMessage","summary":"SendMessage","tags":["Messaging"],"parameters":[{"name":"basicMessageParameters","in":"body","schema":{"$ref":"#/definitions/BasicMessageParameters"}}],"consumes":["application/json","text/json","application/*+json"],"responses":{"200":{"description":"Success"}}}},"/messages/connection/{connectionId}":{"get":{"operationId":"ListMessages","summary":"ListMessages","tags":["Messaging"],"parameters":[{"name":"connectionId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicMessageRecordArray"}}}}},"/messages/{messageId}":{"get":{"operationId":"GetMessage","summary":"GetMessage","tags":["Messaging"],"parameters":[{"name":"messageId","in":"path","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/BasicMessageContract"}}}}},"/webhooks/{webhookId}/enable":{"put":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/webhooks#enable-or-disable-a-webhook\">documentation</a> on how to enable a webhook.</i>","operationId":"EnableWebhook","summary":"Enables a webhook","tags":["Webhooks"],"parameters":[{"name":"webhookId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/webhooks/{webhookId}/disable":{"put":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/webhooks#enable-or-disable-a-webhook\">documentation</a> on how to disable a webhook.</i>","operationId":"DisableWebhook","summary":"Disables a webhook","tags":["Webhooks"],"parameters":[{"name":"webhookId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/common/networks/{networkId}/txnAuthorAgreement":{"get":{"description":"Return the latest transaction author agreement and acceptance methods if one \r\nis set on the network with the specified {networkId}","operationId":"GetTransactionAuthorAgreement","summary":"Return the latest transaction author agreement and acceptance methods if one \r\nis set on the network with the specified {networkId}","tags":["Common"],"parameters":[{"name":"networkId","in":"path","description":"Network identifier","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/NetworkTxnAgreementContract"}}}}},"/common/networks/{tenantId}/txnAuthorAgreement":{"put":{"description":"Accept the latest transaction author agreement on the specified network.","operationId":"AcceptTransactionAuthorAgreement","summary":"Accept the latest transaction author agreement on the specified network.","tags":["Common"],"parameters":[{"name":"tenantId","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/definitions/credentials/{schemaId}":{"post":{"description":"<i>Please check the <a href=\"https://docs.streetcred.id/docs/credentials#from-schema\">documentation</a> on how to create new credential definition from schema id.</i>","operationId":"CreateCredentialDefinitionForSchemaId","summary":"Create credential definition from existing schema identifier.","tags":["Definitions"],"parameters":[{"name":"schemaId","in":"path","description":"","required":true,"type":"string"},{"name":"credentialDefinitionParameters","in":"body","schema":{"$ref":"#/definitions/CredentialDefinitionParameters"}}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CredentialDefinitionContract"}}}}},"/tenants/issuerStatus":{"get":{"description":"If the tenant is configured with Dedicated endorsement, this\r\naction will check if the issuer DID has the required ENDORSER role \r\non the configured ledger network.\r\nAdditionally, check the acceptance of the transaction\r\nauthor agreement and return the text and version if acceptance\r\nis required.","operationId":"GetIssuerStatus","summary":"Get the issuer status for the current tenant.","tags":["Tenants"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/IssuerStatusContract"}}}}},"/definitions/credentials/{credentialDefinitionId}":{"delete":{"description":"Delete credential definition","operationId":"DeleteCredentialDefinition","summary":"Delete credential definition","tags":["Definitions"],"parameters":[{"name":"credentialDefinitionId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/definitions/verifications/{verificationDefinitionId}":{"delete":{"description":"Delete Verification Definition by Id","operationId":"DeleteVerificationDefinition","summary":"Delete Verification Definition by Id","tags":["Definitions"],"parameters":[{"name":"verificationDefinitionId","in":"path","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}},"deprecated":true}},"/verifications/{verificationId}/verify":{"get":{"description":"Execute verification on this record. This is an expensive action and is executed\r\nby veryfing the proof againt the ledger data.","operationId":"VerifyVerification","summary":"Execute verification on this record. This is an expensive action and is executed\r\nby veryfing the proof againt the ledger data.","tags":["Verifications"],"parameters":[{"name":"verificationId","in":"path","description":"Verification identifier","required":true,"type":"string"}],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationResult"}}},"deprecated":true}},"/verificationPolicies":{"get":{"description":"Lists the verification policies.","operationId":"ListVerificationPolicies","summary":"Lists the verification policies.","tags":["Verification Policies"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationPolicyContractArray"}}}},"post":{"description":"Creates the verification policy.","operationId":"CreateVerificationPolicy","summary":"Creates the verification policy.","tags":["Verification Policies"],"parameters":[{"name":"verificationPolicyParameters","in":"body","schema":{"$ref":"#/definitions/VerificationPolicyParameters"},"description":"The verification policy parameters."}],"consumes":["application/json","text/json","application/*+json"],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationPolicyContract"}}}}},"/verificationPolicies/{policyId}":{"get":{"description":"Gets the verification policy.","operationId":"GetVerificationPolicy","summary":"Gets the verification policy.","tags":["Verification Policies"],"parameters":[{"name":"policyId","in":"path","description":"The verification policy identifier.","required":true,"type":"string"}],"produces":["application/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationPolicyContract"}}}},"delete":{"description":"Deletes the verification policy.","operationId":"DeleteVerificationPolicy","summary":"Deletes the verification policy.","tags":["Verification Policies"],"parameters":[{"name":"policyId","in":"path","description":"The policy identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/credentials/purge/{definitionId}":{"delete":{"description":"If 'definitionId' is null, it will remove all revoked records for all credential definitions","operationId":"PurgeCredentials","summary":"Removes all credential records with status 'Revoked' for the given credential definition","tags":["Credentials"],"parameters":[{"name":"definitionId","in":"path","description":"The definition identifier.","required":true,"type":"string"}],"responses":{"200":{"description":"Success"}}}},"/verifications/policy/{policyId}/connections/{connectionId}":{"put":{"description":"Send a verification to the specified connection from existing policy","operationId":"SendVerificationFromPolicy","summary":"Send a verification to the specified connection from existing policy","tags":["Verifications"],"parameters":[{"name":"connectionId","in":"path","description":"The connection identifier.","required":true,"type":"string"},{"name":"policyId","in":"path","description":"The policy identifier.","required":true,"type":"string"}],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContract"}}}}},"/verifications/policy/{policyId}":{"put":{"description":"Connectionless transport uses URLs that can be shared with the user over any \r\nexisting transport (email, SMS, web).","operationId":"CreateVerificationFromPolicy","summary":"Create a verification from existing policy used for connectionless transport.","tags":["Verifications"],"parameters":[{"name":"policyId","in":"path","description":"The policy identifier.","required":true,"type":"string"}],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContract"}}}}},"/verifications/policy":{"post":{"description":"Connectionless transport uses URLs that can be shared with the user over any\r\nexisting transport (email, SMS, web).","operationId":"CreateVerificationFromParameters","summary":"Create a verification from parameters used for connectionless transport.","tags":["Verifications"],"parameters":[{"name":"verificationPolicyParameters","in":"body","schema":{"$ref":"#/definitions/VerificationPolicyParameters"},"description":"The policy parameters."}],"consumes":["application/json","text/json","application/*+json"],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContract"}}}}},"/health":{"get":{"operationId":"Health","summary":"Health","tags":["Diagnostics"],"responses":{"200":{"description":"Success"}}}},"/verifications/policy/connections/{connectionId}":{"post":{"description":"Send a verification to the speicified connection from parameters","operationId":"SendVerificationFromParameters","summary":"Send a verification to the speicified connection from parameters","tags":["Verifications"],"parameters":[{"name":"connectionId","in":"path","description":"The connection identifier.","required":true,"type":"string"},{"name":"verificationPolicyParameters","in":"body","schema":{"$ref":"#/definitions/VerificationPolicyParameters"},"description":"The policy parameters."}],"consumes":["application/json","text/json","application/*+json"],"produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VerificationContract"}}}}}},"definitions":{"NetworkContract":{"type":"object","properties":{"networkId":{"type":"string"},"networkName":{"type":"string"},"genesisTransactions":{"type":"string"},"poolProtocolVersion":{"format":"int32","type":"integer"}}},"NetworkTxnAgreementContract":{"description":"Transaction author agreement","type":"object","properties":{"text":{"description":"Acceptance agreement text","type":"string"},"version":{"description":"Agreement version","type":"string"},"acceptanceMethods":{"description":"List of agreement acceptance methods","type":"object","additionalProperties":{"type":"string"}}}},"ConnectionState":{"enum":["Invited","Negotiating","Connected"],"type":"string"},"AgentEndpoint":{"type":"object","properties":{"did":{"type":"string","readOnly":true},"verkey":{"type":"array","items":{"type":"string"},"readOnly":true},"uri":{"type":"string","readOnly":true}}},"ConnectionContract":{"type":"object","properties":{"connectionId":{"type":"string"},"name":{"type":"string"},"imageUrl":{"type":"string"},"myDid":{"type":"string"},"theirDid":{"type":"string"},"myKey":{"type":"string"},"theirKey":{"type":"string"},"state":{"$ref":"#/definitions/ConnectionState"},"invitation":{"type":"string"},"invitationUrl":{"type":"string"},"endpoint":{"$ref":"#/definitions/AgentEndpoint"},"createdAtUtc":{"format":"date-time","type":"string"},"multiParty":{"type":"boolean"}}},"ConnectionInvitationParameters":{"description":"Connection invitation parameters","type":"object","properties":{"connectionId":{"description":"Unique connection identifier. If not specified, a random one will be generated.","type":"string"},"multiParty":{"description":"If set to 'true', the invitation can be used by multiple parties and will always have the status set to 'Invited'.\r\nWhen a party accepts this invitation, a new connection record with a unique identifier will be created.\r\n            \r\nDefault value is 'false'.","type":"boolean"},"name":{"description":"Name that can be used as organization name\r\n            \r\nDefault value is 'null'.","type":"string"}}},"CredentialState":{"enum":["Offered","Requested","Issued","Rejected","Revoked"],"type":"string"},"CredentialContract":{"type":"object","properties":{"credentialId":{"type":"string"},"state":{"$ref":"#/definitions/CredentialState"},"connectionId":{"type":"string"},"definitionId":{"type":"string"},"schemaId":{"type":"string"},"offerData":{"type":"string"},"offerUrl":{"type":"string"},"issuedAtUtc":{"format":"date-time","type":"string"},"acceptedAtUtc":{"format":"date-time","type":"string"},"values":{"type":"object","additionalProperties":{"type":"string"}}}},"CredentialOfferParameters":{"description":"Send offer.","required":["definitionId"],"type":"object","properties":{"definitionId":{"description":"Gets or sets the credential definition identifier.","type":"string"},"connectionId":{"description":"Connection identifier to send this credential to.\r\nIf ommited, the request will be treated as connectionless\r\nissuance and will generate a URL.","type":"string"},"automaticIssuance":{"description":"If true, the credential will automatically be issued once the individual accepts the offer. If \r\nfalse, when an individual accepts the offer the credential will be in state 'Requested' and must be manually issued using the \r\nPUT /credentials/{credentialId} endpoint. This is set to false by default","type":"boolean"},"credentialValues":{"type":"object","additionalProperties":{"type":"string"}}}},"VerificationPolicyRestrictionAttribute":{"type":"object","properties":{"attributeName":{"type":"string"},"attributeValue":{"type":"string"}}},"VerificationPolicyRestriction":{"type":"object","properties":{"schemaId":{"type":"string"},"schemaIssuerDid":{"type":"string"},"schemaName":{"type":"string"},"schemaVersion":{"type":"string"},"issuerDid":{"type":"string"},"credentialDefinitionId":{"type":"string"},"value":{"$ref":"#/definitions/VerificationPolicyRestrictionAttribute"}}},"VerificationPolicyAttributeContract":{"type":"object","properties":{"policyName":{"type":"string"},"attributeNames":{"type":"array","items":{"type":"string"}},"restrictions":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyRestriction"}}}},"VerificationPolicyPredicateContract":{"required":["attributeName","policyName","predicateType","predicateValue"],"type":"object","properties":{"policyName":{"type":"string"},"attributeName":{"type":"string"},"predicateType":{"type":"string"},"predicateValue":{"format":"int32","type":"integer"},"restrictions":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyRestriction"}}}},"VerificationPolicyRevocationReqirement":{"type":"object","properties":{"validAt":{"format":"date-time","type":"string"}}},"VerificationPolicyContract":{"type":"object","properties":{"policyId":{"type":"string"},"name":{"type":"string"},"version":{"type":"string"},"attributes":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyAttributeContract"}},"predicates":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyPredicateContract"}},"revocationRequirement":{"$ref":"#/definitions/VerificationPolicyRevocationReqirement"}}},"VerificationPolicyParameters":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"},"attributes":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyAttributeContract"}},"predicates":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyPredicateContract"}},"revocationRequirement":{"$ref":"#/definitions/VerificationPolicyRevocationReqirement"}}},"CredentialDefinitionContract":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"},"attributes":{"type":"array","items":{"type":"string"}},"supportsRevocation":{"type":"boolean"},"maxCredentialCount":{"format":"int32","type":"integer"},"schemaId":{"type":"string"},"definitionId":{"type":"string"}}},"CredentialDefinitionFromSchemaParameters":{"description":"Represents a request object to create new credential definition for an agency","required":["attributes","name","version"],"type":"object","properties":{"name":{"description":"Name of the schema.","type":"string"},"version":{"description":"Schema version.","type":"string"},"attributes":{"description":"Schema attribute names.","type":"array","items":{"type":"string"}},"supportRevocation":{"description":"Support credential revocation","type":"boolean"},"tag":{"description":"Unique tag to differentiate definitions of the same schema","type":"string"}}},"CredentialDefinitionParameters":{"description":"Credential definition parameters","type":"object","properties":{"supportRevocation":{"description":"Support credential revocation","type":"boolean"},"tag":{"description":"Unique tag to differentiate definitions of the same schema","type":"string"}}},"SchemaParameters":{"description":"Schema.","required":["attributeNames","name","version"],"type":"object","properties":{"name":{"description":"Gets or sets the name.","type":"string"},"version":{"description":"Gets or sets the version.","type":"string"},"attributeNames":{"description":"Gets or sets the attribute names.","type":"array","items":{"type":"string"}}}},"SchemaRecord":{"type":"object","properties":{"typeName":{"type":"string","readOnly":true},"name":{"type":"string"},"version":{"type":"string"},"attributeNames":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"createdAtUtc":{"format":"date-time","type":"string","readOnly":true},"updatedAtUtc":{"format":"date-time","type":"string","readOnly":true}}},"AttributeValue":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"}}},"AttributeFilter":{"type":"object","properties":{"schemaId":{"type":"string"},"schemaIssuerDid":{"type":"string"},"schemaName":{"type":"string"},"schemaVersion":{"type":"string"},"issuerDid":{"type":"string"},"credentialDefinitionId":{"type":"string"},"attributeValue":{"$ref":"#/definitions/AttributeValue"}}},"RevocationInterval":{"type":"object","properties":{"from":{"format":"int32","type":"integer"},"to":{"format":"int32","type":"integer"}}},"ProofAttributeInfo":{"type":"object","properties":{"name":{"type":"string"},"names":{"type":"array","items":{"type":"string"}},"restrictions":{"type":"array","items":{"$ref":"#/definitions/AttributeFilter"}},"nonRevoked":{"$ref":"#/definitions/RevocationInterval"}}},"ProofPredicateInfo":{"type":"object","properties":{"predicateType":{"type":"string"},"predicateValue":{"format":"int32","type":"integer"},"name":{"type":"string"},"names":{"type":"array","items":{"type":"string"}},"restrictions":{"type":"array","items":{"$ref":"#/definitions/AttributeFilter"}},"nonRevoked":{"$ref":"#/definitions/RevocationInterval"}}},"ProofRequest":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"},"nonce":{"type":"string"},"requestedAttributes":{"type":"object","additionalProperties":{"$ref":"#/definitions/ProofAttributeInfo"}},"requestedPredicates":{"type":"object","additionalProperties":{"$ref":"#/definitions/ProofPredicateInfo"}},"nonRevoked":{"$ref":"#/definitions/RevocationInterval"}}},"VerificationDefinitionContract":{"description":"","type":"object","properties":{"id":{"description":"Gets or sets the identifier.","type":"string"},"proofRequest":{"$ref":"#/definitions/ProofRequest"}}},"BasicMessageParameters":{"type":"object","properties":{"connectionId":{"type":"string"},"text":{"type":"string"}}},"MessageDirection":{"enum":["Incoming","Outgoing"],"type":"string"},"BasicMessageRecord":{"type":"object","properties":{"typeName":{"type":"string","readOnly":true},"connectionId":{"type":"string"},"sentTime":{"format":"date-time","type":"string"},"direction":{"$ref":"#/definitions/MessageDirection"},"text":{"type":"string"},"id":{"type":"string"},"createdAtUtc":{"format":"date-time","type":"string","readOnly":true},"updatedAtUtc":{"format":"date-time","type":"string","readOnly":true}}},"BasicMessageContract":{"type":"object","properties":{"connectionId":{"type":"string"},"timestamp":{"format":"date-time","type":"string"},"text":{"type":"string"},"direction":{"$ref":"#/definitions/MessageDirection"}}},"EndorserType":{"enum":["Shared","Dedicated","Delegated"],"type":"string"},"TenantExtendedInformationContract":{"description":"Extended tenant information","type":"object","properties":{"issuerDid":{"description":"Issuer DID","type":"string"},"issuerKey":{"description":"Issuer Public Key","type":"string"},"issuerKeyGenerationSeed":{"description":"Isuser key generation seed used for deterministic key creation (32 characters)","type":"string"},"agentDid":{"description":"Agent DID","type":"string"},"agentKey":{"description":"Agent Public Key","type":"string"},"agentKeyGenerationSeed":{"description":"Agent key generation seed used for deterministic key creation (32 characters)","type":"string"},"agentServiceEndpoint":{"description":"Agent service endpoint URL","type":"string"},"transactionEndorsement":{"$ref":"#/definitions/EndorserType"}}},"TenantContract":{"description":"Tenant info.","type":"object","properties":{"name":{"description":"Gets or sets the name.","type":"string","readOnly":true},"imageUrl":{"description":"Gets or sets the image URI.","type":"string"},"network":{"$ref":"#/definitions/NetworkContract"},"tenantId":{"description":"Gets or sets the tenant identifier.","type":"string","readOnly":true},"extendedInformation":{"$ref":"#/definitions/TenantExtendedInformationContract"}}},"TenantParameters":{"description":"Configuration options for creating new tenant","required":["name"],"type":"object","properties":{"issuerSeed":{"description":"(Optional) Issuer seed used for deterministic DID generation.\r\nIf omitted, a random DID/Key is generated","type":"string"},"name":{"description":"The name of the tenant.","type":"string"},"imageUrl":{"description":"(Optional) Location of image URL used as profile for this tenant","type":"string"},"networkId":{"description":"(Optional) Ledger network identifier. Default is Sovrin Staging (sovrin-staging)","type":"string"},"endorserType":{"$ref":"#/definitions/EndorserType"}}},"IssuerStatusContract":{"description":"Issuer Status contract","type":"object","properties":{"acceptanceText":{"description":"Transaction Author Agreement Text","type":"string"},"acceptanceVersion":{"description":"Transaction Author Agreement Version","type":"string"},"acceptanceDigest":{"type":"string"},"acceptanceTime":{"format":"int64","type":"integer"},"requireAcceptance":{"description":"Indicates if user needs to accept the \r\nlatest agreement on the network","type":"boolean"},"transactionEndorsement":{"$ref":"#/definitions/EndorserType"},"issuerCanEndorse":{"description":"Indicates if the user has Endorser status","type":"boolean"}}},"ProofState":{"enum":["Requested","Accepted","Rejected"],"type":"string"},"ProofAttributeContract":{"type":"object","properties":{"name":{"type":"string"},"value":{"type":"string"},"attributes":{"type":"object","additionalProperties":{"type":"string"}},"revealed":{"type":"boolean","readOnly":true},"selfAttested":{"type":"boolean"},"conditional":{"type":"boolean"}}},"VerificationContract":{"type":"object","properties":{"connectionId":{"type":"string"},"verificationId":{"type":"string"},"definitionId":{"type":"string"},"state":{"$ref":"#/definitions/ProofState"},"createdAtUtc":{"format":"date-time","type":"string"},"updatedAtUtc":{"format":"date-time","type":"string"},"isValid":{"type":"boolean"},"verifiedAtUtc":{"format":"date-time","type":"string"},"proof":{"type":"object","additionalProperties":{"$ref":"#/definitions/ProofAttributeContract"}},"verificationRequestData":{"type":"string"},"verificationRequestUrl":{"type":"string"}}},"VerificationParameters":{"description":"Create verification","required":["verificationDefinitionId"],"type":"object","properties":{"verificationDefinitionId":{"description":"Verification definition identifier.","type":"string"},"connectionId":{"description":"Connection identifier.","type":"string"}}},"VerificationResult":{"description":"Verification result","type":"object","properties":{"valid":{"description":"True if verification passed, otherwise False","type":"boolean"},"proof":{"description":"Verification Proof Details","type":"object","additionalProperties":{"$ref":"#/definitions/ProofAttributeContract"}}}},"WebhookType":{"enum":["Notification","DelegatedEndorser"],"type":"string"},"WebhookContract":{"type":"object","properties":{"url":{"type":"string"},"type":{"$ref":"#/definitions/WebhookType"},"enabled":{"type":"boolean"},"id":{"type":"string"}}},"WebhookParameters":{"type":"object","properties":{"url":{"type":"string"},"type":{"$ref":"#/definitions/WebhookType"}}},"CommonUploadPost200ApplicationJsonResponse":{"format":"uri","type":"string"},"NetworkContractArray":{"type":"array","items":{"$ref":"#/definitions/NetworkContract"}},"ConnectionContractArray":{"type":"array","items":{"$ref":"#/definitions/ConnectionContract"}},"CredentialContractArray":{"type":"array","items":{"$ref":"#/definitions/CredentialContract"}},"Body":{"type":"object","additionalProperties":{"type":"string"}},"VerificationPolicyContractArray":{"type":"array","items":{"$ref":"#/definitions/VerificationPolicyContract"}},"CredentialDefinitionContractArray":{"type":"array","items":{"$ref":"#/definitions/CredentialDefinitionContract"}},"DefinitionsSchemasPost200ApplicationJsonResponse":{"type":"string"},"SchemaRecordArray":{"type":"array","items":{"$ref":"#/definitions/SchemaRecord"}},"VerificationDefinitionContractArray":{"type":"array","items":{"$ref":"#/definitions/VerificationDefinitionContract"}},"BasicMessageRecordArray":{"type":"array","items":{"$ref":"#/definitions/BasicMessageRecord"}},"TenantContractArray":{"type":"array","items":{"$ref":"#/definitions/TenantContract"}},"VerificationContractArray":{"type":"array","items":{"$ref":"#/definitions/VerificationContract"}},"WebhookContractArray":{"type":"array","items":{"$ref":"#/definitions/WebhookContract"}}},"tags":[]}